<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- HELLO WORLD! -->
	<bean id="helloWorld" class="com.johngboutros.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>

	<!-- BEAN SCOPES: SINGLETON BEAN -->
	<bean id="singletonBean" class="com.johngboutros.SingletonBean"
		scope="singleton">
	</bean>

	<!-- BEAN SCOPES: PROTOTYPE BEAN -->
	<bean id="prototypeBean" class="com.johngboutros.PrototypeBean"
		scope="prototype">
	</bean>

	<!-- BEAN LIFECYCLE: Implementing InitializingBean, DisposableBean -->
	<bean id="initializingBeanExample" class="com.johngboutros.InitializingBeanExample">
	</bean>

	<!-- BEAN LIFECYCLE: Init & Destroy By Xml -->
	<bean id="initByXmlBeanExample" class="com.johngboutros.InitByXmlBeanExample"
		init-method="init" destroy-method="destroy">
	</bean>

	<!-- Bean Post Processor -->
	<bean class="com.johngboutros.BeanPostProcessorExample"></bean>

	<!-- Bean Definition Inheritance -->
	<bean id="beanTemplate" abstract="true" destroy-method="destroy">
		<property name="message1" value="Hello World!" />
		<property name="message2" value="Hello Second World!" />
	</bean>

	<bean id="helloWorldParent" class="com.johngboutros.HelloWorldParent"
		parent="beanTemplate">
	</bean>

	<bean id="helloIndia" class="com.johngboutros.HelloIndia" parent="helloWorldParent">
		<property name="message1" value="Hello India!" />
		<property name="message3" value="Namaste India!" />
	</bean>

	<!-- Spring Dependency Injection -->
	<!-- Definition for textEditor bean -->
	<bean id="textEditor" class="com.johngboutros.TextEditor">
		<constructor-arg ref="spellChecker" />
		<constructor-arg index="1" type="int" value="2001" />
		<constructor-arg type="java.lang.String" value="Zara" />
		<property name="fontFormatter" ref="fontFormatter"/>
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellChecker" class="com.johngboutros.SpellChecker">
	</bean>

	<!-- Definition for FontFormatter bean -->
	<bean id="fontFormatter" class="com.johngboutros.FontFormatter">
	</bean>

</beans>